body{
    width:1440px;
    margin:0;
    padding:0;
    font-family: 'Comfortaa',cursive;
    color: #fff;
}
a{
    text-decoration: none;
    color:#fff;
    font-size: 1.3rem;
}

/* Home Page */
/* Styling section-1 */

#header{
    height:435px;
    background-image: url("./images/rodeo-drive.jpg");
    background-size: cover;
    background-position: 0 -435px;
    color: #f67703;
    text-shadow: #fff 0 1px;
}
.navbar{
    height:90px;
    background-color: #000;   
}
.navbar a{
    color:#fff;
    text-shadow: #f67703 0 2px;
    padding-top: 33px;
    display: inline-block;
}
.navbar a:hover{
    color: #f67703;
    text-shadow: #fff 0 1.5px;
} 
#header p{
    font-family: 'Montserrat',sans-serif;
    font-size: 2rem;
    padding: 115px 0px 150px 527px;
    display:inline-block;
    font-weight: 500;
} 

/* Styling section-2 */

#cards{
    height: 680px;
    background-color: #222529;
}

#cards div{
    height: 420px;
    width: 280px;
    background-color: #000;
    margin-top: 131px;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 1px 1px 7px #060606;
}
.griffith{
    margin-left: 265px;
    position: absolute;
}
.mountains{
    margin-left: 575px;
    position: absolute;
}
.universal{
    margin-left: 885px;
    position: absolute;
}
#cards img{
    height: 170px;
    width: 246px;
    display: inline-block;
    border-radius: 3px;
    margin-top: 17px;
    margin-left: 17px;
}
.heading{
    font-size: 1rem;
    padding-left: 17px;
    margin-bottom: 0;
}
.text{
    font-size: 0.75rem;
    padding-left: 17px;
    padding-right: 17px;
    line-height: 1.18rem;
}

/* Styling section-3 */

#about{
    background-color: #12141B;
    height: 550px;
    color:#fff;
    text-align: justify;
}
.content{
    height:300px;
    width:450px;
    line-height: 1.2rem;
    display:inline-block;
    font-size: 0.8rem;
    margin-left:255px;
    margin-top:155px;
    position: absolute;
}
.image{
    background-image: url("./images/lasky.png");
    background-size: cover;
    height: 250px;
    width: 450px;
    display: inline-block;
    margin-top:145px;
    margin-left:740px;
    position:absolute;
    border-radius: 1px;
}

/* Styling section-4 */

#attractions{
    height: 680px;
    background-color:#222529;
    text-align: justify;
}
.title{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
}
.attractions-content{
    height:250px;
    width:670px;
    font-family: 'Comfortaa',cursive;
    font-size: 0.8rem;
    line-height: 1.2rem;
    display: inline-block;
}
#attractions img{
    height: 250px;
    width:250px;
    object-fit: contain;
}
.attractions-image{

    height: 250px;
    width: 250px;
    display: inline-block;
}
.hollywood .attractions-image{
    margin-top: 115px;
    margin-left: 250px; 
    position: absolute;
}
.hollywood .attractions-content{
    margin-top: 135px;
    margin-left:528px;
    position: absolute;
}
.beaches .attractions-image{
    margin-top: 315px;
    margin-left: 950px; 
    position: absolute;
}
.beaches .attractions-content{
    margin-top: 335px;
    margin-left:250px;
    position: absolute;
}

/* Styling section-5 */

#footer{
    height: 200px;
    background-color: #12141B;
    text-align: center;
    font-weight: 300;
}
.quote{
    display: inline-block;
    width:670px;
    height: 100px;
    margin-top: 72px;
    margin-left:-605px;
    position: absolute;
}
.quotation{
    font-size: 0.8rem;
    line-height: 1.2rem;
}
.author{
    font-size: 0.8rem;
    line-height: 1.7rem;
    margin-top:14px;
}
.creator{
    height: 150px;
    width:250px;
    display: inline-block;
    position: absolute;
    margin-left: 165px;
    margin-top: 27px;
}
.credits{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height:1rem;
}
.name{
    font-family: 'Montserrat',sans-serif;
    font-size: 0.7rem;
    line-height: 2.5rem;
}
.creator a{
    font-size: 0.75rem;
    line-height: 1.2rem;
}
.creator a:hover{
    text-decoration: underline;
}

/* Explore Page */
/* Section 1 */

#header-other{
    height: 435px;
    background-image: url(./images/404-featured.jpg);
    background-size: cover;
    background-position : 0 -143px;
    font-family: 'Comfortaa',cursive;
}
.color-overlay{
    background-color: #f67703;
    opacity: 0.5;
    width:1440px;
    height: 345px;
    position:absolute;
}
.not-found-text{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.8rem;
    color: #000;
    font-weight: 500;
    position: relative;
    padding-top: 130px;
    padding-left: 600px;
}
.navbar-other{
    height: 90px;
    background-color: #000;
}
.navbar-other a{
    color:#f67703;
    text-shadow: #fff 0 1px;
    padding-top: 33px;
    display: inline-block;
}
.navbar-other a:hover{
    color:#fff;
    text-shadow: #f67703 0 2px;
}
#not-found{
    height: 345px;
    background-color: #222529;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    line-height: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
}
#not-found p{
    margin-top: 0;
    padding-top: 150px;
    display: inline-block;
}
.default{
    background-color: #7d421b;
    /* opacity: 0.5; */
    width:1440px;
    height: 345px;
    position:absolute;
}